---
import BtnGreen from "../components/ui/btngreen.astro";
import BtnBlue from "../components/ui/btnblue.astro";
---
<section class=" text-center p-4 mt-28 flex flex-col items-center font-bai-jamjuree-400 sm:mt-20">

	<h2 class="pb-4 text-2xl text-balance text-Gray-700 font-extrabold w-[300px] sm:w-[668px]">Clipboard for iOS and Mac OS </h2>
  
	<p class="text-Gray-500 w-[320px] mb-12 sm:w-[640px]">Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you’re ready to start adding to your clipboard.</p>
  
	<div class="w-[310px] flex flex-col gap-4 sm:w-[400px] sm:flex sm:flex-row sm:gap-4 " >
	<BtnGreen nombre="Donwloads for iOS"/>
    <BtnBlue nombre="Download for Mac "/>
	</div>
</section>