---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		
		<title>Clipboard Landing </title>
	</head>
	<body class="bg-[url(/images/bg-header-mobile.png)] bg-no-repeat bg-contain 
	sm:bg-[url(/images/bg-header-desktop.png)] sm:bg-no-repeat md:bg-contain">
		<slot/>
	</body>
</html>