---
const { nombre } = Astro.props;
---
<button class="text-white bg-Green-500 px-6 py-3 w-full rounded-full border-b-2 border-teal-600  shadow-xl shadow-Green-500/15 cursor-pointer">{nombre}</button>